body {
    background-color: #28a5ff;
}

.secondary_background {
    background-color: #91deff;
}

.primary_background {
    background-color: #fbf08c;
}

primary: #fbf08c
secondary: #91deff
background: #28a5ff