{% extends "layout.html" %}

{% block title %}
    {{ game.name }}
{% endblock %}

{% block body %}
<div class="form-panels-container">
    <div class="form-panel">
        {% if game.pre_download == "yes" %}
        <div class="message">{{ game.name }} Pre-Installation Links</div>
        {% else %}
        <div class="message">{{ game.name }} Download Links</div>
        {% endif %}
        <div class="form-container">
            <form action="/select">
                <button>Change Game</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}