{% extends "layout.html" %}

{% block title %}
    Select Game
{% endblock %}

{% block body %}
<div class="center">
    <div class="form-panel">
        {% if message %}
        <div class="error-message">{{ message }}</div>
        {% else %}
        <div class="message">Select a Game and Download Method</div>
        {% endif %}
        <div class="form-container">
            <form action="/links" method="post">
                <div class="select-container">
                    <select name="game">
                        <option disabled selected value="">--- Select a Game ---</option>
                        {% for game in games %}
                        <option value="{{ game.biz }}">{{ game.game }}</option>
                        {% endfor %}
                    </select>
                    <select name="pre">
                        <option disabled selected value="">--- Download Method ---</option>
                        <option value="no">Main Download</option>
                        <option value="yes">Pre-Download</option>
                    </select>
                </div>
                <input type="submit">
            </form>
        </div>
    </div>
</div>
{% endblock %}
